*{
	font-family: 'Roboto Slab' ;
}

#login_form{
   position:absolute;
   width:200px;
   height:100px;

   margin:auto;
   left:0;
   right:0;
   top:50%;
   margin-top:-50px;
}
.submit-button{
   font-size:15px;
}
.title{
   font-size:45px;
  display:block;
  width:300px;
}
#contactHolder,#messageHolder{
   float:left;
   display:inline-block;
   margin-right: 20px;
   width: 320px;
   background:rgba(255, 255, 255, .60);
   padding-bottom:4px;
   border-style:solid;
   border-color:#101010;
   border-width: 3px;
}
#contact{
   text-align:left;
   margin: 0 auto;
   margin-top:4px;
   padding-top:10px;
   padding-left:5px;
   background:rgba(255, 255, 255, .50);
   width: 300px;
   border-style:solid;
   border-color:#101010;
   border-width: 1px;
   border-radius:5px;
}        
#message{
   margin-top:4px;
   padding-top:10px;
   padding-left:5px;
   padding-right:5px;
   width: 160px;
   border-style:solid;
   border-color:#101010;
   border-width: 1px;
}         
#newMessage{
   padding-top:20px;
   display:block;
   width:280;
   margin:auto;
}
textarea{
   display:block;
   margin:auto;
   border-radius:10px;
}
.received{
   text-align:left;
   border-top-right-radius:5px;
   border-bottom-right-radius:5px;
   margin-left:0px;
   background:rgba(2, 80, 165, .50);
}

.sent{
   text-align:right;
   border-top-left-radius:5px;
   border-bottom-left-radius:5px;
   margin-left:auto;
   background:rgba(207, 125, 2, .50);
}
#name{
   display:block;

}
#number{
   display:block;
}
fieldset{
   border-color:#e4e4e4;
   background:rgba(0, 0, 0, 0.66);
   border-style:solid;
   border-width:3px;
   color:gainsboro;
   border-radius:15px;
}

legend{
   font-size:25px;
   color:gainsboro;
	font-family: 'Roboto Slab', serif;
}
body{
   background: -webkit-radial-gradient(center, ellipse cover, rgba(0,69,173,0.69) 0%,rgba(0,0,0,0.82) 90%),
   url('black-mosaic-tiles-1510.png') repeat;
	font-family: 'Roboto Slab' ;
}
 .lightgrey{
	font-family: 'Roboto Slab', serif;
    background:rgba(255, 255, 255, 0.86);
    border-style:solid;
    border-color:gainsboro;
    border-radius: 5px;
    font-size:20px;
    width:100%;
 }
input{

	font-family: 'Roboto Slab', serif;
   float:right;
}
#token{
   display:block;
   text-align:center;
   font-size:20px;
}
.center{
   display:block;
   margin-right:auto;
   margin-left:auto;
	font-family: 'Roboto Slab', serif;
   width:100%;
   font-size:20px;
   background:gainsboro;
   border-radius:5px;
   margin-top:15px;
   border-style:none;
   color-:rgb(0, 16, 58);

}
#login_error{
   text-align:center;
}
.error{
   display:block;
   margin-right:auto;
   margin-left:auto;
	font-family: 'Roboto Slab', serif;
   color:red;
   font-size: 20px;
}
pre{
   padding-left:30px;
   padding-right:30px;
   font-size:14px;
}
code{
   border-style:solid;
   border-color:black;
   background-color:rgb(203, 252, 175);
   border-top-left-radius:10px;
   border-bottom-right-radius:10px;
}
#header{
   text-align:center;
   font-size: 30px;
}
h1{
   background:#ffffff;
   background:rgba(255, 255, 255, .3);
   border-radius:10px;
}
.rounded{
   background:#ffffff;
   border-radius:10px;
   text-align:center;
}
a:link{
   color:black;
text-decoration:none;}
a:visited{
   color:black;
text-decoration:none;}
a:hover{text-decoration:underline;
   color:#545454;
}
a:visited{text-decoration:none;}
  


